!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %link{href: "#{asset_path('favicon/apple-touch-icon.png')}", rel: "apple-touch-icon", sizes: "180x180"}/
    %link{href: "#{asset_path('favicon/favicon-32x32.png')}", rel: "icon", sizes: "32x32", type: "image/png"}/
    %link{href: "#{asset_path('favicon/favicon-16x16.png')}", rel: "icon", sizes: "16x16", type: "image/png"}/
    %link{href: "#{asset_path('favicon/site.webmanifest')}", rel: "manifest"}/
    %link{color: "#5bbad5", href: "#{asset_path('favicon/safari-pinned-tab.svg')}", rel: "mask-icon"}/
    %meta{content: "#da532c", name: "msapplication-TileColor"}/
    %meta{content: "#ffffff", name: "theme-color"}/
    %title WeatherAverage
    = csrf_meta_tags
    = csp_meta_tag
    %script{src: "https://unpkg.com/axios/dist/axios.min.js"}
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'
  %body
    %nav.navbar.navbar-light.bg-light
      %a.navbar-brand{href: "#"}
        %img.d-inline-block.align-top{height: "30", src: "/assets/thermometer-54f57e395dab6295ffdbcf04dd4465292b9f8b9c781c208c9408b8ba0a3ae689.svg", width: "30"}/
        WeatherAverage
    .container
      = yield
      .row.footer.navbar-fixed-bottom
        .col-xs-12.col-sm
          %p
            Developer
            %a{href: "https://www.linkedin.com/in/bjohnmer/", target: "_blank", title: "Johnmer Bencomo"} Johnmer Bencomo
            Github repo
            %a{href: "https://github.com/bjohnmer/weather-average", target: "_blank", title: "bjohnmer repo"} https://github.com/bjohnmer/weather-average
        .col-xs-12.col-sm
          %p
            Icons made by
            %a{href: "https://www.freepik.com/", target: "_blank", title: "Freepik"} Freepik
            from
            %a{href: "https://www.flaticon.com/", target: "_blank", title: "Flaticon"} www.flaticon.com
            is licensed by
            %a{href: "http://creativecommons.org/licenses/by/3.0/", target: "_blank", title: "Creative Commons BY 3.0"} CC 3.0 BY
